openapi: 3.1.0

info:
  title: PokéAPI
  summary: A RESTful API for Pokémon
  version: 0.0.0

servers:
  - url: https://pokeapi.co/api/v2/
    description: The primary production server

paths:
  /version:
    get:
      description: 'Get a paginated list of Pokémon game versions'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'
                
  /version/{id}:
    get:
      description: 'Get a specific Pokémon game version'
      parameters:
        - name: id
          description: Either an ID number (integer) or slug (string) for this game version
          in: path
          required: true
          schema:
            type:
              - string
              - integer
      responses:
        '200':
          description: A specific Pokémon game version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/version'



components:
  schemas:
    api_resource:
      type: object
      properties:
        url:
          type: string
      required:
        - url

    api_resource_list:
      type: object
      properties:
        count:
          type: integer
        next:
          type:
            - 'null'
            - string
        previous:
          type:
            - 'null'
            - string
        results:
          type: array
          items:
            $ref: '#/components/schemas/api_resource'
      required:
        - count
        - next
        - previous
        - results

    named_api_resource:
      type: object
      properties:
        name:
          type: string
        url:
          type: string
      required:
        - name
        - url

    named_api_resource_list:
      type: object
      properties:
        count:
          type: integer
        next:
          type:
            - 'null'
            - string
        previous:
          type:
            - 'null'
            - string
        results:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'
      required:
        - count
        - next
        - previous
        - results

    version:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        names:
          type: array
          items:
            properties:
              language:
                $ref: '#/components/schemas/named_api_resource'
              name:
                type: string
            required:
              - language
              - name
        version_group:
          $ref: '#/components/schemas/named_api_resource'
      required:
        - id
        - name
        - names
        - version_group

  responses:
    named_resource_list:
      description: A list of named resources
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/named_api_resource_list'