openapi: 3.1.0

info:
  title: PokéAPI
  summary: A RESTful API for Pokémon
  version: 0.0.0

servers:
  - url: https://pokeapi.co/api/v2/
    description: The primary production server

paths:
  # Berries

  /berry:
    get:
      description: 'Get a paginated list of berries'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'
    
  /berry/{id}:
    get:
      description: 'Get a specific berry'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: Berry details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/berry'

  /berry-firmness:
    get:
      description: 'Get a paginated list of berry firmnesses'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'
    
  /berry-firmness/{id}:
    get:
      description: 'Get a specific berry firmness'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: Berry firmness details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/berry_firmness'

  /berry-flavor:
    get:
      description: 'Get a paginated list of berry flavors'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'
    
  /berry-flavor/{id}:
    get:
      description: 'Get a specific berry flavor'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: Berry flavor details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/berry_flavor'

  # Games

  /version:
    get:
      description: 'Get a paginated list of Pokémon game versions'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'
                
  /version/{id}:
    get:
      description: 'Get a specific Pokémon game version'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific Pokémon game version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/version'



components:
  schemas:
    # Common

    api_resource:
      type: object
      properties:
        url:
          type: string
      required:
        - url

    api_resource_list:
      type: object
      properties:
        count:
          type: integer
        next:
          type:
            - 'null'
            - string
        previous:
          type:
            - 'null'
            - string
        results:
          type: array
          items:
            $ref: '#/components/schemas/api_resource'
      required:
        - count
        - next
        - previous
        - results

    named_api_resource:
      type: object
      properties:
        name:
          type: string
        url:
          type: string
      required:
        - name
        - url

    named_api_resource_list:
      type: object
      properties:
        count:
          type: integer
        next:
          type:
            - 'null'
            - string
        previous:
          type:
            - 'null'
            - string
        results:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'
      required:
        - count
        - next
        - previous
        - results

    name:
      type: object
      properties:
        name:
          type: string
        language:
          $ref: '#/components/schemas/named_api_resource'
    
    # Berries

    berry:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        growth_time:
          type: integer
        max_harvest:
          type: integer
        natural_gift_power:
          type: integer
        size:
          type: integer
        smoothness:
          type: integer
        soil_dryness:
          type: integer
        firmness:
          $ref: '#/components/schemas/named_api_resource'
        flavors:
          type: array
          items:
            $ref: '#/components/schemas/berry_flavor_map'
        item:
          $ref: '#/components/schemas/named_api_resource'
        natural_gift_type:
          $ref: '#/components/schemas/named_api_resource'

    berry_flavor_map:
      type: object
      properties:
        potency:
          type: integer
        flavor:
          $ref: '#/components/schemas/named_api_resource'

    flavor_berry_map:
      type: object
      properties:
        potency:
          type: integer
        berry:
          $ref: '#/components/schemas/named_api_resource'

    berry_firmness:
      type: object
      properties:
        id:
          type: integer
        name: 
          type: string
        berries:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'

    berry_flavor:
      type: object
      properties:
        id:
          type: integer
        name: 
          type: string
        berries:
          $ref: '#/components/schemas/flavor_berry_map'
        content_type:
          $ref: '#/components/schemas/named_api_resource'
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'
        
    # Games

    version:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        names:
          type: array
          items:
            properties:
              language:
                $ref: '#/components/schemas/named_api_resource'
              name:
                type: string
            required:
              - language
              - name
        version_group:
          $ref: '#/components/schemas/named_api_resource'
      required:
        - id
        - name
        - names
        - version_group

  responses:
    named_resource_list:
      description: A list of named resources
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/named_api_resource_list'

  parameters:
    identifier:
      name: id
      description: Either an ID number (integer) or slug (string) for this resource
      in: path
      required: true
      schema:
        type:
          - string
          - integer