openapi: 3.1.0

info:
  title: PokéAPI
  summary: A RESTful API for Pokémon
  version: 0.0.0

servers:
  - url: https://pokeapi.co/api/v2/
    description: The primary production server

paths:
  # Berries

  /berry:
    get:
      description: 'Get a paginated list of berries'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /berry/{id}:
    get:
      description: 'Get a specific berry'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: Berry details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/berry'

  /berry-firmness:
    get:
      description: 'Get a paginated list of berry firmnesses'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /berry-firmness/{id}:
    get:
      description: 'Get a specific berry firmness'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: Berry firmness details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/berry_firmness'

  /berry-flavor:
    get:
      description: 'Get a paginated list of berry flavors'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /berry-flavor/{id}:
    get:
      description: 'Get a specific berry flavor'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: Berry flavor details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/berry_flavor'

  # Contests

  /contest-type:
    get:
      description: 'Get a paginated list of contest types'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /contest-type/{id}:
    get:
      description: 'Get a contest type'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: Contest type details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contest_type'

  /contest-effect:
    get:
      description: 'Get a paginated list of contest effects'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /contest-effect/{id}:
    get:
      description: 'Get a contest effect'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: Contest effect details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contest_effect'

  /super-contest-effect:
    get:
      description: 'Get a paginated list of super contest effects'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /super-contest-effect/{id}:
    get:
      description: 'Get a super contest effect'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: Super contest effect details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/super_contest_effect'

  # Encounters

  /encounter-method:
    get:
      description: 'Get a paginated list of encounter methods'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /encounter-method/{id}:
    get:
      description: 'Get an encounter method'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: Encounter method details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/encounter_method'

  /encounter-condition-value:
    get:
      description: 'Get a paginated list of encounter condition values'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /encounter-condition-value/{id}:
    get:
      description: 'Get an encounter condition value'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: Encounter condition value details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/encounter_condition_value'

  # Evolution

  /evolution-chain:
    get:
      description: 'Get a paginated list of evolution chains'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /evolution-chain/{id}:
    get:
      description: 'Get an evolution chain'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: Evolution chain details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/evolution_chain'

  /evolution-trigger:
    get:
      description: 'Get a paginated list of evolution triggers'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /evolution-trigger/{id}:
    get:
      description: 'Get an evolution trigger'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: Evolution trigger details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/evolution_trigger'

  # Games

  /generation:
    get:
      description: 'Get a paginated list of Pokémon game generations'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /generation/{id}:
    get:
      description: 'Get a specific Pokémon game generation'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific Pokémon game generation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generation'

  /pokedex:
    get:
      description: 'Get a paginated list of Pokémon game pokedexes'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /pokedex/{id}:
    get:
      description: 'Get a specific Pokémon game pokedex'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific Pokémon game pokedex
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pokedex'

  /version:
    get:
      description: 'Get a paginated list of Pokémon game versions'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /version/{id}:
    get:
      description: 'Get a specific Pokémon game version'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific Pokémon game version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/version'

  /version-group:
    get:
      description: 'Get a paginated list of Pokémon game version groups'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /version-group/{id}:
    get:
      description: 'Get a specific Pokémon game version group'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific Pokémon game version group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/version_group'

  # Items

  /item:
    get:
      description: 'Get a paginated list of items'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /item/{id}:
    get:
      description: 'Get a specific item'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/item'

  /item-attribute:
    get:
      description: 'Get a paginated list of item attributes'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /item-attribute/{id}:
    get:
      description: 'Get a specific item attribute'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific item attribute
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/item_attribute'

  /item-category:
    get:
      description: 'Get a paginated list of item categorys'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /item-category/{id}:
    get:
      description: 'Get a specific item category'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific item category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/item_category'

  /item-fling-effect:
    get:
      description: 'Get a paginated list of item fling effects'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /item-fling-effect/{id}:
    get:
      description: 'Get a specific item fling effect'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific item fling effect
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/item_fling_effect'

  /item-pocket:
    get:
      description: 'Get a paginated list of item pockets'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /item-pocket/{id}:
    get:
      description: 'Get a specific item pocket'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific item pocket
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/item_pocket'

  # Locations

  /location:
    get:
      description: 'Get a paginated list of locations'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /location/{id}:
    get:
      description: 'Get a specific location'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific location
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/location'

  /location-area:
    get:
      description: 'Get a paginated list of location areas'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /location-area/{id}:
    get:
      description: 'Get a specific location area'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific location area
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/location_area'

  /pal-park-area:
    get:
      description: 'Get a paginated list of pal park areas'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /pal-park-area/{id}:
    get:
      description: 'Get a specific pal park area'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific pal park area
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pal_park_area'

  /region:
    get:
      description: 'Get a paginated list of regions'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /region/{id}:
    get:
      description: 'Get a specific region'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific region
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/region'

  # Machines

  /machine:
    get:
      description: 'Get a paginated list of machines'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /machine/{id}:
    get:
      description: 'Get a specific machine'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific machine
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/machine'

  # Moves

  /move:
    get:
      description: 'Get a paginated list of moves'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /move/{id}:
    get:
      description: 'Get a specific move'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific move
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/move'

  /move-ailment:
    get:
      description: 'Get a paginated list of move ailments'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /move-ailment/{id}:
    get:
      description: 'Get a specific move ailment'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific move ailment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/move_ailment'

  /move-battle-style:
    get:
      description: 'Get a paginated list of move battle styles'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /move-battle-style/{id}:
    get:
      description: 'Get a specific move battle style'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific move battle style
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/move_battle_style'

  /move-category:
    get:
      description: 'Get a paginated list of move categories'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /move-category/{id}:
    get:
      description: 'Get a specific move category'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific move category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/move_category'

  /move-damage-class:
    get:
      description: 'Get a paginated list of move damage classs'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /move-damage-class/{id}:
    get:
      description: 'Get a specific move damage class'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific move damage class
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/move_damage_class'

  /move-learn-method:
    get:
      description: 'Get a paginated list of move learn methods'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /move-learn-method/{id}:
    get:
      description: 'Get a specific move learn method'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific move learn method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/move_learn_method'

  /move-target:
    get:
      description: 'Get a paginated list of move targets'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /move-target/{id}:
    get:
      description: 'Get a specific move target'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific move target
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/move_target'

  # Pokemon

  /ability:
    get:
      description: 'Get a paginated list of ability'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /ability/{id}:
    get:
      description: 'Get a specific pokemon ability'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific pokemon ability
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ability'

  /characteristic:
    get:
      description: 'Get a paginated list of pokemon characteristic'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /characteristic/{id}:
    get:
      description: 'Get a specific pokemon characteristic'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific pokemon characteristic
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/characteristic'

  /egg-group:
    get:
      description: 'Get a paginated list of pokemon egg group'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /egg-group/{id}:
    get:
      description: 'Get a specific pokemon egg group'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific pokemon egg group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/egg_group'

  /gender:
    get:
      description: 'Get a paginated list of pokemon gender'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /gender/{id}:
    get:
      description: 'Get a specific pokemon gender'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific pokemon gender
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gender'

  /growth-rate:
    get:
      description: 'Get a paginated list of pokemon growth rate'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /growth-rate/{id}:
    get:
      description: 'Get a specific pokemon growth rate'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific pokemon growth rate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/growth_rate'

  /nature:
    get:
      description: 'Get a paginated list of pokemon nature'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /nature/{id}:
    get:
      description: 'Get a specific pokemon nature'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific pokemon nature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nature'

  /pokeathlon-stat:
    get:
      description: 'Get a paginated list of pokeathlon stat'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /pokeathlon-stat/{id}:
    get:
      description: 'Get a specific pokeathlon stat'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific pokeathlon stat
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pokeathlon_stat'

  /pokemon:
    get:
      description: 'Get a paginated list of pokemon'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /pokemon/{id}:
    get:
      description: 'Get a specific pokemon'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific pokemon
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pokemon'

  /pokemon/{id}/encounters:
    get:
      description: 'Get a specific pokemons encounters'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific pokemons encounters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/location_area_encounter'

  /pokemon-color:
    get:
      description: 'Get a paginated list of pokemon colors'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /pokemon-color/{id}:
    get:
      description: 'Get a specific pokemon color'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific pokemon color
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pokemon_color'

  /pokemon-form:
    get:
      description: 'Get a paginated list of pokemon forms'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /pokemon-form/{id}:
    get:
      description: 'Get a specific pokemon form'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific pokemon form
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pokemon_form'

  /pokemon-habitat:
    get:
      description: 'Get a paginated list of pokemon habitats'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /pokemon-habitat/{id}:
    get:
      description: 'Get a specific pokemon habitat'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific pokemon habitat
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pokemon_habitat'

  /pokemon-shape:
    get:
      description: 'Get a paginated list of pokemon shapes'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /pokemon-shape/{id}:
    get:
      description: 'Get a specific pokemon shape'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific pokemon shape
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pokemon_shape'

  /pokemon-species:
    get:
      description: 'Get a paginated list of pokemon speciess'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /pokemon-species/{id}:
    get:
      description: 'Get a specific pokemon species'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific pokemon species
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pokemon_species'

  /stat:
    get:
      description: 'Get a paginated list of pokemon stat'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /stat/{id}:
    get:
      description: 'Get a specific pokemon stat'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific pokemon stat
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stat'

  /type:
    get:
      description: 'Get a paginated list of pokemon type'
      responses:
        '200':
          $ref: '#/components/responses/named_resource_list'

  /type/{id}:
    get:
      description: 'Get a specific pokemon type'
      parameters:
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: A specific pokemon type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type'

components:
  schemas:
    # Common

    api_resource:
      type: object
      properties:
        url:
          type: string
      required:
        - url

    api_resource_list:
      type: object
      properties:
        count:
          type: integer
        next:
          type:
            - 'null'
            - string
        previous:
          type:
            - 'null'
            - string
        results:
          type: array
          items:
            $ref: '#/components/schemas/api_resource'
      required:
        - count
        - next
        - previous
        - results

    named_api_resource:
      type: object
      properties:
        name:
          type: string
        url:
          type: string
      required:
        - name
        - url

    named_api_resource_list:
      type: object
      properties:
        count:
          type: integer
        next:
          type:
            - 'null'
            - string
        previous:
          type:
            - 'null'
            - string
        results:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'
      required:
        - count
        - next
        - previous
        - results

    name:
      type: object
      properties:
        name:
          type: string
        language:
          $ref: '#/components/schemas/named_api_resource'

    effect:
      type: object
      properties:
        effect:
          type: string
        language:
          $ref: '#/components/schemas/named_api_resource'

    flavor_text:
      type: object
      properties:
        flavor_text:
          type: string
        language:
          $ref: '#/components/schemas/named_api_resource'
        version:
          $ref: '#/components/schemas/named_api_resource'

    description:
      type: object
      properties:
        description:
          type: string
        language:
          $ref: '#/components/schemas/named_api_resource'

    version_group_flavor_text:
      type: object
      properties:
        text:
          type: string
        language:
          $ref: '#/components/schemas/named_api_resource'

    generation_game_index:
      type: object
      properties:
        game_index:
          type: integer
        generation:
          $ref: '#/components/schemas/named_api_resource'

    machine_version_detail:
      type: object
      properties:
        machine:
          $ref: '#/components/schemas/api_resource'
        version_group:
          $ref: '#/components/schemas/named_api_resource'

    # Berries

    berry:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        growth_time:
          type: integer
        max_harvest:
          type: integer
        natural_gift_power:
          type: integer
        size:
          type: integer
        smoothness:
          type: integer
        soil_dryness:
          type: integer
        firmness:
          $ref: '#/components/schemas/named_api_resource'
        flavors:
          type: array
          items:
            $ref: '#/components/schemas/berry_flavor_map'
        item:
          $ref: '#/components/schemas/named_api_resource'
        natural_gift_type:
          $ref: '#/components/schemas/named_api_resource'

    berry_flavor_map:
      type: object
      properties:
        potency:
          type: integer
        flavor:
          $ref: '#/components/schemas/named_api_resource'

    flavor_berry_map:
      type: object
      properties:
        potency:
          type: integer
        berry:
          $ref: '#/components/schemas/named_api_resource'

    berry_firmness:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        berries:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'

    berry_flavor:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        berries:
          $ref: '#/components/schemas/flavor_berry_map'
        content_type:
          $ref: '#/components/schemas/named_api_resource'
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'

    # Contests

    contest_type:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        berry_flavor:
          $ref: '#/components/schemas/named_api_resource'
        names:
          type: array
          items:
            $ref: '#/components/schemas/contest_name'

    contest_name:
      type: object
      properties:
        name:
          type: string
        color:
          type: string
        language:
          $ref: '#/components/schemas/named_api_resource'

    contest_effect:
      type: object
      properties:
        id:
          type: integer
        appeal:
          type: integer
        jam:
          type: integer
        effect_entries:
          type: array
          items:
            $ref: '#/components/schemas/effect'
        flavor_text_entries:
          type: array
          items:
            $ref: '#/components/schemas/flavor_text'

    super_contest_effect:
      type: object
      properties:
        id:
          type: integer
        appeal:
          type: integer
        flavor_text_entries:
          type: array
          items:
            $ref: '#/components/schemas/flavor_text'
        moves:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'

    # Encounters

    encounter_method:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        order:
          type: integer
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'

    encounter_condition:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'
        values:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'

    encounter_condition_value:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        condition:
          $ref: '#/components/schemas/named_api_resource'
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'

    # Evolution

    evolution_chain:
      type: object
      properties:
        id:
          type: integer
        baby_trigger_item:
          $ref: '#/components/schemas/named_api_resource'
        chain:
          $ref: '#/components/schemas/chain_link'

    chain_link:
      type: object
      properties:
        is_baby:
          type: boolean
        species:
          $ref: '#/components/schemas/named_api_resource'
        evolution_details:
          type: array
          items:
            $ref: '#/components/schemas/evolution_detail'
        evolves_to:
          $ref: '#/components/schemas/chain_link'

    evolution_detail:
      type: object
      properties:
        item:
          $ref: '#/components/schemas/named_api_resource'
        trigger:
          $ref: '#/components/schemas/named_api_resource'
        gender:
          type: integer
        held_item:
          $ref: '#/components/schemas/named_api_resource'
        known_move:
          $ref: '#/components/schemas/named_api_resource'
        known_move_type:
          $ref: '#/components/schemas/named_api_resource'
        location:
          $ref: '#/components/schemas/named_api_resource'
        min_level:
          type: integer
        min_happiness:
          type: integer
        min_beauty:
          type: integer
        min_affection:
          type: integer
        needs_overworld_rain:
          type: boolean
        party_species:
          $ref: '#/components/schemas/named_api_resource'
        party_type:
          $ref: '#/components/schemas/named_api_resource'
        relative_physical_stats:
          type: integer
        time_of_day:
          type: string
        trade_species:
          $ref: '#/components/schemas/named_api_resource'
        turn_upside_down:
          type: boolean

    evolution_trigger:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'
        pokemon_species:
          $ref: '#/components/schemas/named_api_resource'

    # Games

    generation:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        abilities:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'
        main_region:
          $ref: '#/components/schemas/named_api_resource'
        moves:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'
        pokemon_species:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'
        types:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'
        version_groups:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'

    pokedex:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        is_main_series:
          type: boolean
        descriptions:
          type: array
          items:
            $ref: '#/components/schemas/description'
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'
        pokemon_entries:
          type: array
          items:
            $ref: '#/components/schemas/pokemon_entry'
        region:
          $ref: '#/components/schemas/named_api_resource'
        version_groups:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'

    pokemon_entry:
      type: object
      properties:
        entry_number:
          type: integer
        pokemon_species:
          $ref: '#/components/schemas/named_api_resource'

    version:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'
        version_group:
          $ref: '#/components/schemas/named_api_resource'

    version_group:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        order:
          type: integer
        generation:
          $ref: '#/components/schemas/named_api_resource'
        move_learn_methods:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'
        pokedexes:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'
        regions:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'
        versions:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'

    # Items

    item:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        cost:
          type: integer
        fling_power:
          type: integer
        fling_effect:
          $ref: '#/components/schemas/named_api_resource'
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'
        category:
          $ref: '#/components/schemas/named_api_resource'
        effect_entries:
          type: array
          items:
            $ref: '#/components/schemas/verbose_effect'
        flavor_text_entries:
          type: array
          items:
            $ref: '#/components/schemas/version_group_flavor_text'
        game_indices:
          type: array
          items:
            $ref: '#/components/schemas/generation_game_index'
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'
        sprites:
          $ref: '#/components/schemas/item_sprites'
        held_by_pokemon:
          type: array
          items:
            $ref: '#/components/schemas/item_holder_pokemon'
        baby_trigger_for:
          $ref: '#/components/schemas/api_resource'
        machines:
          type: array
          items:
            $ref: '#/components/schemas/machine_version_detail'

    item_attribute:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'
        descriptions:
          type: array
          items:
            $ref: '#/components/schemas/description'

    item_category:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'
        pocket:
          $ref: '#/components/schemas/named_api_resource'

    item_fling_effect:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        effect_entries:
          type: array
          items:
            $ref: '#/components/schemas/effect'
        items:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'

    item_pocket:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        categories:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'

    verbose_effect:
      type: object
      properties:
        effect:
          type: string
        short_effect:
          type: string
        language:
          $ref: '#/components/schemas/named_api_resource'

    item_sprites:
      type: object
      properties:
        default:
          type: string

    item_holder_pokemon:
      type: object
      properties:
        pokemon:
          $ref: '#/components/schemas/named_api_resource'
        version_details:
          type: array
          items:
            $ref: '#/components/schemas/item_holder_pokemon_version_detail'

    item_holder_pokemon_version_detail:
      type: object
      properties:
        rarity:
          type: integer
        version:
          $ref: '#/components/schemas/named_api_resource'

    # Locations

    location:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        region:
          $ref: '#/components/schemas/named_api_resource'
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'
        game_indices:
          type: array
          items:
            $ref: '#/components/schemas/generation_game_index'
        areas:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'

    location_area:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        game_index:
          type: integer
        encounter_method_rates:
          type: array
          items:
            $ref: '#/components/schemas/encounter_method_rate'

    pal_park_area:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'
        pokemon_encounters:
          type: array
          items:
            $ref: '#/components/schemas/pal_park_encounter_species'

    region:
      type: object
      properties:
        id:
          type: integer
        locations:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'
        name:
          type: string
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'
        main_generation:
          $ref: '#/components/schemas/named_api_resource'
        pokedexes:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'
        version_groups:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'

    encounter_method_rate:
      type: object
      properties:
        encounter_method:
          $ref: '#/components/schemas/named_api_resource'
        version_details:
          type: array
          items:
            $ref: '#/components/schemas/encounter_version_details'

    encounter_version_details:
      type: object
      properties:
        rate:
          type: integer
        version:
          $ref: '#/components/schemas/named_api_resource'

    pal_park_encounter_species:
      type: object
      properties:
        base_score:
          type: integer
        rate:
          type: integer
        pokemon_species:
          $ref: '#/components/schemas/named_api_resource'

    # Machines

    machine:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        move:
          $ref: '#/components/schemas/named_api_resource'
        version_group:
          $ref: '#/components/schemas/named_api_resource'

    # Moves

    move:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        accuracy:
          type: integer
        effect_chance:
          type: integer
        pp:
          type: integer
        priority:
          type: integer
        power:
          type: integer
        contest_combos:
          $ref: '#/components/schemas/contest_combo_sets'
        contest_type:
          $ref: '#/components/schemas/named_api_resource'
        contest_effect:
          $ref: '#/components/schemas/api_resource'
        damage_class:
          $ref: '#/components/schemas/named_api_resource'
        effect_entries:
          type: array
          items:
            $ref: '#/components/schemas/verbose_effect'
        effect_changes:
          type: array
          items:
            $ref: '#/components/schemas/ability_effect_change'
        learned_by_pokemon:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'
        flavor_text_entries:
          type: array
          items:
            $ref: '#/components/schemas/move_flavor_text'
        generation:
          $ref: '#/components/schemas/named_api_resource'
        machines:
          type: array
          items:
            $ref: '#/components/schemas/machine_version_detail'
        meta:
          $ref: '#/components/schemas/move_meta_data'
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'
        past_values:
          type: array
          items:
            $ref: '#/components/schemas/past_move_stat_values'
        stat_changes:
          type: array
          items:
            $ref: '#/components/schemas/move_stat_values'
        super_contest_effect:
          $ref: '#/components/schemas/api_resource'
        target:
          $ref: '#/components/schemas/named_api_resource'
        type:
          $ref: '#/components/schemas/named_api_resource'

    move_ailment:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        moves:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'

    move_battle_style:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'

    move_category:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        moves:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'
        descriptions:
          type: array
          items:
            $ref: '#/components/schemas/description'

    move_damage_class:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        descriptions:
          type: array
          items:
            $ref: '#/components/schemas/description'
        moves:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'

    move_learn_method:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        descriptions:
          type: array
          items:
            $ref: '#/components/schemas/description'
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'
        version_groups:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'

    move_target:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        descriptions:
          type: array
          items:
            $ref: '#/components/schemas/description'
        moves:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'

    contest_combo_sets:
      type: object
      properties:
        normal:
          $ref: '#/components/schemas/contest_combo_detail'
        super:
          $ref: '#/components/schemas/contest_combo_detail'

    contest_combo_detail:
      type: object
      properties:
        use_before:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'
        use_after:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'

    ability_effect_change:
      type: object
      properties:
        effect_entries:
          type: array
          items:
            $ref: '#/components/schemas/verbose_effect'
        version_group:
          $ref: '#/components/schemas/named_api_resource'

    machine_version_detail:
      type: object
      properties:
        machine:
          $ref: '#/components/schemas/api_resource'
        version_group:
          $ref: '#/components/schemas/named_api_resource'

    move_flavor_text:
      type: object
      properties:
        flavor_text:
          type: string
        language:
          $ref: '#/components/schemas/named_api_resource'
        version_group:
          $ref: '#/components/schemas/named_api_resource'

    move_meta_data:
      type: object
      properties:
        ailment:
          $ref: '#/components/schemas/named_api_resource'
        category:
          $ref: '#/components/schemas/named_api_resource'
        min_hits:
          type: integer
        max_hits:
          type: integer
        min_turns:
          type: integer
        max_turns:
          type: integer
        drain:
          type: integer
        healing:
          type: integer
        crit_rate:
          type: integer
        ailment_chance:
          type: integer
        flinch_chance:
          type: integer
        stat_chance:
          type: integer

    past_move_stat_values:
      type: object
      properties:
        accuracy:
          type: integer
        effect_chance:
          type: integer
        power:
          type: integer
        pp:
          type: integer
        effect_entries:
          type: array
          items:
            $ref: '#/components/schemas/verbose_effect'
        type:
          $ref: '#/components/schemas/named_api_resource'
        version_group:
          $ref: '#/components/schemas/named_api_resource'

    move_stat_values:
      type: object
      properties:
        change:
          type: integer
        stat:
          $ref: '#/components/schemas/named_api_resource'

    # Pokemon

    ability:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        is_main_series:
          type: boolean
        generation:
          $ref: '#/components/schemas/named_api_resource'
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'
        effect_entries:
          type: array
          items:
            $ref: '#/components/schemas/effect'
        effect_changes:
          type: array
          items:
            $ref: '#/components/schemas/ability_effect_change'
        flavor_text_entries:
          type: array
          items:
            $ref: '#/components/schemas/ability_flavor_text'
        pokemon:
          type: array
          items:
            $ref: '#/components/schemas/ability_pokemon'

    characteristic:
      type: object
      properties:
        id:
          type: integer
        gene_modulo:
          type: integer
        possible_values:
          type: array
          items:
            type: integer
        highest_stat:
          $ref: '#/components/schemas/named_api_resource'
        descriptions:
          type: array
          items:
            $ref: '#/components/schemas/description'

    egg_group:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'
        pokemon_species:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'

    gender:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        pokemon_species_details:
          type: array
          items:
            $ref: '#/components/schemas/pokemon_species_gender'
        required_for_evolution:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'

    growth_rate:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        formula:
          type: string
        descriptions:
          type: array
          items:
            $ref: '#/components/schemas/description'
        levels:
          type: array
          items:
            $ref: '#/components/schemas/growth_rate_experience_level'
        pokemon_species:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'

    nature:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        decreased_stat:
          $ref: '#/components/schemas/named_api_resource'
        increased_stat:
          $ref: '#/components/schemas/named_api_resource'
        hates_flavor:
          $ref: '#/components/schemas/named_api_resource'
        likes_flavor:
          $ref: '#/components/schemas/named_api_resource'
        pokeathlon_stat_changes:
          type: array
          items:
            $ref: '#/components/schemas/nature_stat_change'
        move_battle_style_preferences:
          type: array
          items:
            $ref: '#/components/schemas/move_battle_style_preference'
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'

    pokeathlon_stat:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'
        affecting_natures:
          $ref: '#/components/schemas/nature_pokeathlon_stat_affect_sets'

    pokemon:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        base_experience:
          type: integer
        height:
          type: integer
        is_default:
          type: boolean
        order:
          type: integer
        weight:
          type: integer
        abilities:
          type: array
          items:
            $ref: '#/components/schemas/pokemon_ability'
        forms:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'
        game_indices:
          type: array
          items:
            $ref: '#/components/schemas/version_game_index'
        held_items:
          type: array
          items:
            $ref: '#/components/schemas/pokemon_held_item'
        location_area_encounters:
          type: string
        moves:
          type: array
          items:
            $ref: '#/components/schemas/pokemon_move'
        past_types:
          type: array
          items:
            $ref: '#/components/schemas/pokemon_type_past'
        sprites:
          $ref: '#/components/schemas/pokemon_sprites'
        species:
          $ref: '#/components/schemas/named_api_resource'
        stats:
          type: array
          items:
            $ref: '#/components/schemas/pokemon_stat'
        types:
          type: array
          items:
            $ref: '#/components/schemas/pokemon_type'
    
    location_area_encounter:
      type: object
      properties:
        location_area:
          $ref: '#/components/schemas/named_api_resource'
        version_details:
          type: array
          items:
            $ref: '#/components/schemas/version_encounter_detail'

    pokemon_color:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'
        pokemon_species:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'

    pokemon_form:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        order:
          type: integer
        form_order:
          type: integer
        is_default:
          type: boolean
        is_battle_only:
          type: boolean
        is_mega:
          type: boolean
        form_name:
          type: string
        pokemon:
          $ref: '#/components/schemas/named_api_resource'
        types:
          type: array
          items:
            $ref: '#/components/schemas/pokemon_form_type'
        sprites:
          $ref: '#/components/schemas/pokemon_form_sprites'
        version_group:
          $ref: '#/components/schemas/named_api_resource'
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'
        form_names:
          type: array
          items:
            $ref: '#/components/schemas/name'

    pokemon_habitat:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'
        pokemon_species:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'

    pokemon_shape:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        awesome_names:
          type: array
          items:
            $ref: '#/components/schemas/awesome_name'
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'
        pokemon_species:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'
        
    pokemon_species:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        order:
          type: integer
        gender_rate:
          type: integer
        capture_rate:
          type: integer
        base_happiness:
          type: integer
        is_baby:
          type: boolean
        is_legendary:
          type: boolean
        is_mythical:
          type: boolean
        hatch_counter:
          type: integer
        has_gender_differences:
          type: boolean
        forms_switchable:
          type: boolean
        growth_rate:
          $ref: '#/components/schemas/named_api_resource'
        pokedex_numbers:
          type: array
          items:
            $ref: '#/components/schemas/pokemon_species_dex'
        egg_groups:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'
        color:
          $ref: '#/components/schemas/named_api_resource'
        shape:
          $ref: '#/components/schemas/named_api_resource'
        evolves_from_species:
          $ref: '#/components/schemas/named_api_resource'
        evolution_chain:
          $ref: '#/components/schemas/api_resource'
        habitat:
          $ref: '#/components/schemas/named_api_resource'
        generation:
          $ref: '#/components/schemas/named_api_resource'
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'
        pal_park_encounters:
          type: array
          items:
            $ref: '#/components/schemas/pal_park_encounter_area'
        flavor_text_entries:
          type: array
          items:
            $ref: '#/components/schemas/flavor_text'
        form_descriptions:
          type: array
          items:
            $ref: '#/components/schemas/description'
        genera:
          type: array
          items:
            $ref: '#/components/schemas/genus'
        varieties:
          type: array
          items:
            $ref: '#/components/schemas/pokemon_species_variety'

    stat:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        game_index:
          type: integer
        is_battle_only:
          type: boolean
        affecting_moves:
          $ref: '#/components/schemas/move_stat_affect_sets'
        affecting_natures:
          $ref: '#/components/schemas/nature_stat_affect_sets'
        characteristics:
          $ref: '#/components/schemas/api_resource'
        move_damage_class:
          $ref: '#/components/schemas/named_api_resource'
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'

    type:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        damage_relations:
          $ref: '#/components/schemas/type_relations'
        past_damage_relations:
          type: array
          items:
            $ref: '#/components/schemas/type_relations_past'
        game_indices:
          type: array
          items:
            $ref: '#/components/schemas/generation_game_index'
        generation:
          $ref: '#/components/schemas/named_api_resource'
        move_damage_class:
          $ref: '#/components/schemas/named_api_resource'
        names:
          type: array
          items:
            $ref: '#/components/schemas/name'
        pokemon:
          type: array
          items:
            $ref: '#/components/schemas/type_pokemon'
        moves:
          type: array
          items:
            $ref: '#/components/schemas/named_api_resource'

    ability_flavor_text:
      type: object
      properties:
        flavor_text:
          type: string
        language:
          $ref: '#/components/schemas/named_api_resource'
        version_group:
          $ref: '#/components/schemas/named_api_resource'

    ability_pokemon:
      type: object
      properties:
        is_hidden:
          type: boolean
        slot:
          type: integer
        pokemon:
          $ref: '#/components/schemas/named_api_resource'

    pokemon_species_gender:
      type: object
      properties:
        rate:
          type: integer
        pokemon_species:
          $ref: '#/components/schemas/named_api_resource'

    growth_rate_experience_level:
      type: object
      properties:
        level:
          type: integer
        experience:
          type: integer

    nature_stat_change:
      type: object
      properties:
        max_change:
          type: integer
        pokeathlon_stat:
          $ref: '#/components/schemas/named_api_resource'

    move_battle_style_preference:
      type: object
      properties:
        low_hp_preference:
          type: integer
        high_hp_preference:
          type: integer
        move_battle_style:
          $ref: '#/components/schemas/named_api_resource'

    nature_pokeathlon_stat_affect_sets:
      type: object
      properties:
        increase:
          $ref: '#/components/schemas/nature_pokeathlon_stat_affect'
        decrease:
          $ref: '#/components/schemas/nature_pokeathlon_stat_affect'

    nature_pokeathlon_stat_affect:
      type: object
      properties:
        max_change:
          type: integer
        nature:
          $ref: '#/components/schemas/named_api_resource'

    pokemon_ability:
      type: object
      properties:
        is_hidden:
          type: boolean
        slot:
          type: integer
        ability:
          $ref: '#/components/schemas/named_api_resource'

    version_game_index:
      type: object
      properties:
        game_index:
          type: integer
        version:
          $ref: '#/components/schemas/named_api_resource'

    pokemon_held_item:
      type: object
      properties:
        item:
          $ref: '#/components/schemas/named_api_resource'
        version_details:
          type: array
          items:
            $ref: '#/components/schemas/pokemon_held_item_version'

    pokemon_held_item_version:
      type: object
      properties:
        version:
          $ref: '#/components/schemas/named_api_resource'
        rarity:
          type: integer
    
    pokemon_move:
      type: object
      properties:
        move:
          $ref: '#/components/schemas/named_api_resource'
        version_group_details:
          type: array
          items:
            $ref: '#/components/schemas/pokemon_move_version'

    pokemon_move_version:
      type: object
      properties:
        move_learn_method:
          $ref: '#/components/schemas/named_api_resource'
        version_group:
          $ref: '#/components/schemas/named_api_resource'
        level_learned_at:
          type: integer

    pokemon_type_past:
      type: object
      properties:
        generation:
          $ref: '#/components/schemas/named_api_resource'
        types:
          type: array
          items:
            $ref: '#/components/schemas/pokemon_type'
      
    pokemon_type:
      type: object
      properties:
        slot:
          type: integer
        type:
          $ref: '#/components/schemas/named_api_resource'

    pokemon_sprites:
      type: object
      properties:
        front_default:
          type: string
        front_shiny:
          type: string
        front_female:
          type: string
        front_shiny_female:
          type: string
        back_default:
          type: string
        back_shiny:
          type: string
        back_female:
          type: string
        back_shiny_female:
          type: string

    pokemon_stat:
      type: object
      properties:
        stat:
          $ref: '#/components/schemas/named_api_resource'
        effort:
          type: integer
        base_stat:
          type: integer

    version_encounter_detail:
      type: object
      properties:
        version:
          $ref: '#/components/schemas/named_api_resource'
        max_chance:
          type: integer
        encounter_details:
          type: array
          items:
            $ref: '#/components/schemas/encounter'

    encounter:
      type: object
      properties:
        min_level:
          type: integer
        max_level:
          type: integer
        condition_values:
          type: array
          items: 
            $ref: '#/components/schemas/named_api_resource'
        chance:
          type: integer
        method:
          $ref: '#/components/schemas/named_api_resource'

    pokemon_form_type:
      type: object
      properties:
        slot:
          type: integer
        type:
          $ref: '#/components/schemas/named_api_resource'

    pokemon_form_sprites:
      type: object
      properties:
        front_default:
          type: string
        front_shiny:
          type: string
        back_default:
          type: string
        back_shiny:
          type: string

    pokemon_species_dex:
      type: object
      properties:
        entry_number:
          type: integer
        pokedex:
          $ref: '#/components/schemas/named_api_resource'

    pal_park_encounter_area:
      type: object
      properties:
        base_score:
          type: integer
        rate:
          type: integer
        area:
          $ref: '#/components/schemas/named_api_resource'

    genus:
      type: object
      properties:
        genus:
          type: string
        language:
          $ref: '#/components/schemas/named_api_resource'

    pokemon_species_variety:
      type: object
      properties:
        is_default:
          type: boolean
        pokemon:
          $ref: '#/components/schemas/named_api_resource'

    move_stat_affect_sets:
      type: object
      properties:
        increase:
          $ref: '#/components/schemas/move_stat_affect'
        decrease:
          $ref: '#/components/schemas/move_stat_affect'

    move_stat_affect:
      type: object
      properties:
        change:
          type: integer
        move:
          $ref: '#/components/schemas/named_api_resource'

    nature_stat_affect_sets:
      type: object
      properties:
        increase:
          $ref: '#/components/schemas/named_api_resource'
        decrease:
          $ref: '#/components/schemas/named_api_resource'

    type_relations:
      type: object
      properties:
        no_damage_to:
          $ref: '#/components/schemas/named_api_resource'
        half_damage_to:
          $ref: '#/components/schemas/named_api_resource'
        double_damage_to:
          $ref: '#/components/schemas/named_api_resource'
        no_damage_from:
          $ref: '#/components/schemas/named_api_resource'
        half_damage_from:
          $ref: '#/components/schemas/named_api_resource'
        double_damage_from:
          $ref: '#/components/schemas/named_api_resource'
    
    type_relations_past:
      type: object
      properties:
        generation:
          $ref: '#/components/schemas/named_api_resource'
        damage_relations:
          $ref: '#/components/schemas/type_relations'

    type_pokemon:
      type: object
      properties:
        slot:
          type: integer
        pokemon:
          $ref: '#/components/schemas/named_api_resource'

    awesome_name:
      type: object
      properties:
        awesome_name:
          type: string
        language:
          $ref: '#/components/schemas/named_api_resource'

  responses:
    named_resource_list:
      description: A list of named resources
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/named_api_resource_list'

  parameters:
    identifier:
      name: id
      description: Either an ID number (integer) or slug (string) for this resource
      in: path
      required: true
      schema:
        type:
          - string
          - integer